
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js">
    </script>
    <script type="text/javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light2",
                animationEnabled: true,
                title: {
                    text: "Estimated Cost of Each Event"
                },
                subtitles: [
                    { text: "Cost/Name of Activity" }
                ],
                data: [
                    {
                        type: "column", //change type to bar, line, area, pie, etc
                        dataPoints: @(ViewBag.DataPoints)


                    }
                ]
            });
            chart.render();
        };
    </script>
    <title></title>
</head>
<body>
    <div id="chartContainer"></div>
    <p>

        @Html.ActionLink("Back To Activites", "Index", "MadeActivites")
    </p>
</body>
</html>
<p>

   @Html.ActionLink("Back To Activites", "Index","MadeActivites")
</p>

@{
    ViewBag.Title = "Canvas";
}

<h2>Canvas</h2>