<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript">
 window.onload = function () {
   var chart = new CanvasJS.Chart("chartContainer",
   {
     title:{
       text: "Estimated Cost Entertainment",
       fontSize: 20
     },
     data: [
      {
        type: "column",
        indexLabel: "{x}, {y}",
        indexLabelPlacement: "outside",
        indexLabelOrientation: "horizontal",
        dataPoints: [
            
            { label: "Spa", y: 300 }
        ]
         },
         { //dataSeries - second quarter

      type: "column",
      name: "Estimated Min Cost",
      dataPoints: [
      
      { label: "Spa", y: 150 }

      ]
    }
     ]
   });
   chart.render();
 }
    </script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
    <div id="chartContainer" style="height: 300px; width: 100%;">
    </div>
</body>
</html>
