 <html>
<body>

    <table id="my-table" border="1" width="100%">
        <tr>
            <th style="text-align:center">Event Name</th>
            <th style="text-align:center">Description</th>
            <th style="text-align:center">URL Link</th>
        </tr>
    </table>


</body>


</html>


<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    GetEvents();
    function GetEvents() {        
        var data = {
            name : "",
            description : "",
            url : "",


        }
        $.ajax({
            url: 'https://www.eventbriteapi.com/v3/events/search/?token=BJQ5NU5V6KLU3BZ7R32V&location.address=milwaukee&location.within=10km&expand=venuehttps://eventbriteapi.com/v3/events/search/?token=BJQ5NU5V6KLU3BZ7R32V&location.address=milwaukee&location.within=10km',
            dataType: 'json',
            type: 'get',
            data: JSON.stringify(data),
            

            success: function (data) {                
                
                    $("#my-table").append(
                        "<tr><td>" + data["name.text"] + "</td>" + "<td>" +
                        data["description.text"] + "</td>" + "<td>" +
                        data["url"] +"</td>"+"</tr>")              


            },
            //error: {
            //    console.log("error")
            //},

        });
  }
</script>
