

<h2>Map</h2>
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 400px;
        width: 400px;
    }
</style>

<div class="row">
    <div id="map"></div>
    <script>
        var map;
        function initMap() {
            var location = { lat:@Html.DisplayFor(model=>model.MadeActivites.Latitude), lng:@Html.DisplayFor(model=>model.MadeActivites.Longitude)};
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 43.0450, lng: -87.9168 },
                zoom: 8
            });
            var marker = new google.maps.Marker({
                position: coords,
                map: map
            })
            //now add markers
            //addMarker({lat:43.0228854,lng:-87.906498});
            //function addMarker(coords){
            //    var marker = new google.maps.Marker({
            //    position: coords,
            //    map: map
            //})
            //}
            
        }
        
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgxbc-4DbwDz3-fH-pSijZdrbh6JL-i4E&callback=initMap"
            async defer></script>
</div>

