@{
    ViewBag.Title = "Home Page";
}
<body>
<div class="jumbotron" style="text-align:center">
    <h1> Budget Squad</h1>
    <p class="lead">Going out with your squad? Budget here first</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Budget Squad will give you the ablility to create events and set a budget. With those events, you will be able to create actvites that you and your squad can enjoy. Either make an activity from scratch or use EventBrite to see local events in your area.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What makes BugetSquad special?  </h2>
        <p>Budget Squad has the ability to show your analytics of where you are going and how much it will cost each.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What your squad can do?</h2>
        <p>After creating an event, you can send an email to your friends you want and invite them to the event. With that they will be able to vote on the plan of the event and can confirm that they can or cannot participate.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
</body>